<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">

        <span class="spinner-rotate"></span>

    </div>
</section>


<!-- MENU -->
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            <a class="navbar-brand"><img src="../assets/images/32.png"></a>

        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-nav-first">
                <li><a href="#contact" class="smoothScroll">Jugar</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a> Cuidado con el coronavirus</a></li>
            </ul>
        </div>

    </div>
</section>



<div class="text-center">
    <h1 class="display-4">contagiaDOS</h1>
    <p>El juego en el que la estrategia puede salvarte o matarte</p>


    <!-- <button class="dropdown-header" (click)="onSelect()">Link 2</button>  -->
</div>


<!-- CONTACT -->
<section id="contact" [hidden]="IsHidden">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">

                <form id="server-form" role="form" action="" method="post">
                    <div class="col-md-12 col-sm-12">
                        <input type="text" [(ngModel)]="gameData.owner" class="form-control"
                            placeholder="Ingrese direccion del servidor" name="name" required="">
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <input  type="submit" class="form-control" name="createNew"
                            value="Acceder a servidor">
                    </div>
                </form>
                
                <form id="contact-form" role="form" action="" method="post">
                    <div class="section-title">
                        <h2>Ingresa tus datos</h2>
                        <h6>Juega con tus amigos, pero no te fies de ellos</h6>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <input type="text" [(ngModel)]="gameData.owner" class="form-control"
                            placeholder="Ingrese su nombre" name="name" required="">

                        <input type="text" [(ngModel)]="gameData.password" class="form-control"
                            placeholder="Ingrese una contraseña" name="password" required="">

                        <input type="text" [(ngModel)]="gameData.name" class="form-control"
                            placeholder="Ingrese servidor" name="server" required="">
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <input (click)="createGame(gameData.name, gameData.password)" type="submit" class="form-control" name="createNew"
                            value="Crear partida">
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <input (click)="refresh()" type="submit"  class="form-control bg-primary text-light" name="createNew"
                            value="Refrescar">
                    </div>
                
                </form>
            </div>
            <div class="col-md-6 col-sm-12">
                <!-- / Collapsible element -->
                <table class='table' *ngIf="games">
                    <thead>
                        <tr>
                            <th>Game Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of games; let i=index;">
                            <td>{{ s.name }}</td>
                            <td>
                                <a (click)="open(content, s.gameId)"> Unirse </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

<!---->

<section id="game" [hidden]="IsHidden2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 d-flex">
                <!-- Collapse buttons -->
                <div>
                    <button class="btn btn-secondary" type="button" data-toggle="collapse"
                        data-target="#collapseExample" (click)="isCollapsed = !isCollapsed"
                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                        NombreIngresadoC:
                    </button>
                    <button class="btn btn-secondary" type="button" data-toggle="collapse"
                        data-target="#collapseExample2" (click)="isCollapsed2 = !isCollapsed2"
                        [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseExample2">
                        NombreIngresadoP: 
                    </button>
                </div>
                <!-- / Collapse buttons -->
                <!-- Collapsible element -->
                <div class="collapse" id="collapseExample" [ngbCollapse]="isCollapsed">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Eres: </h5>  
                            <div *ngIf="game" class="game">
                                <div><span>Puntos: </span>{{game.points}}</div>
                                <br>
                                <div><span>Lider: </span>{{game.status}}</div>
                                <br>
                                <div><span>Dueño: </span>{{game.owner}}</div>
                                <br>
                                <div><span>Semana: </span>{{game.rounds}}</div>
                            </div>
                            <button href="#" class="btn btn-success">Usar mascarilla</button>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="collapse" id="collapseExample2" [ngbCollapse]="isCollapsed2">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Eres: , junto con: </h5>
                            <div *ngIf="game" class="game">
                                <div><span>Puntos: </span>{{game.points}}</div>
                                <br>
                                <div><span>Lider: </span>{{game.status}}</div>
                                <br>
                                <div><span>Dueño: </span>{{game.owner}}</div>
                                <br>
                                <div><span>Semana: </span>{{game.rounds}}</div>
                            </div>
                            <p class="card-text">Elige las personas que saldrán:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                    Nombres
                                </label>
                            </div>
                            <button href="#" class="btn btn-success">Usar mascarilla</button>
                            <button href="#" class="btn btn-danger">No usar mascarilla</button>
                        </div>
                    </div>
                </div>
                <!-- / Collapsible element -->

                <div class="col-md-4 col-sm-12" hidden>
                    <input type="text" [(ngModel)]="playerData.gameId" class="form-control" name="seeDetails" disabled>
                    <input type="text" [(ngModel)]="playerData.owner" placeholder="owner" class="form-control" name="seeDetails">
                    <input type="password" [(ngModel)]="playerData.password" class="form-control" name="seeDetails" disabled>
                        <button (click)="getRoundsByID()" >Detalles</button>
                </div>

                <br>
                <br>
                <br>

                <div class="col-md-4 col-sm-12">
                    <label>Ingrese participante</label>
                    <input type="text" [(ngModel)]="enterPlayerData.gameId" placeholder="ID" class="form-control" name="seePut" id="seePut"disabled hidden>
                    <input type="text" [(ngModel)]="playerIsPsycho.psycho" placeholder="Eres ..." class="form-control" name="namePut" id="namePut">
                    <input type="password" [(ngModel)]="enterPlayerData.password" placeholder="Contraseña" class="form-control" name="passPut" id="passPut"disabled hidden>
                        <button class="btn btn-primary" (click)="cargaInfoPsycho()" >¿Seré psicopata?</button>
                </div>


                <br>
                <br>
                <br>

                <div class="col-md-4 col-sm-12">
                    <label>Iniciar partida</label>
                    <input type="text" [(ngModel)]="startGame.gameId" placeholder="ID" class="form-control" name="seePut" id="seePut" disabled hidden>
                    <input type="text" [(ngModel)]="startGame.name" placeholder="NombreDueño" class="form-control" name="e" id="e" disabled>
                    <input type="password" [(ngModel)]="startGame.password" placeholder="Contraseña" class="form-control" name="passPut" id="passPut" disabled hidden>
                    <input (click)="gameStart()" type="submit" class="form-control bg-success text-light" name="Start" value="Iniciar partida">
                </div>

                <br>
                <br>
                <br>

                <div class="col-md-4 col-sm-12">
                    <label>Ingrese lider</label>
                    <input type="text" [(ngModel)]="groupPro.gameId" placeholder="ID" class="form-control" name="a" id="a" disabled hidden>
                    <input type="text" [(ngModel)]="groupPro.name" placeholder="Nombre del lider" class="form-control" name="b" id="b">
                    <input type="password" [(ngModel)]="groupPro.password" placeholder="Contraseña" class="form-control" name="c" id="c" disabled hidden>

                    <!-- <input type="text" [(ngModel)]="forPartici.player1" class="form-control" name="forPa" id="forPa">
                    <input type="text" [(ngModel)]="forPartici.player2" class="form-control" name="forPa2" id="forPa2"> -->
                    <form (submit)="submit()" [formGroup]="registerForm">
                
                
                        <div class="form-group">
                            <a class="btn btn-primary" (click)="agregarTelefono()">Saldrán:</a>
                        </div>
                    
                        <div formArrayName="telefonos" *ngFor="let telefono of telefonos.controls; let i = index">
                            <div [formGroupName]="i">
                                <div class="form-group row">
  
                                    <div class="col-md-7">
                                        <input type="text" placeholder="Enviar a:" [attr.id]="'telefono' + i" class="form-control" formControlName="telefono">
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-danger" (click)="removerTelefono(i)">X</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        
                        <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid" >Confirmar</button>

                    
                    
                    </form>
                    <button (click)="setGroup()" class="btn btn-primary" >Enviar</button>
                </div>

                <br>
                <br>
                <br>

                <div class="col-md-4 col-sm-12">
                    <label>Llamar de regreso</label>
                    <input type="text" [(ngModel)]="go.gameId" class="form-control" name="1" id="1" disabled hidden>
                    <input type="text" [(ngModel)]="go.name" placeholder="regresa:" class="form-control" name="2" id="2">
                    <input type="password" [(ngModel)]="go.password" class="form-control" name="3" id="3" disabled hidden>
                    <button  class="btn btn-danger" (click)="startRound2()">Regresar y no usar mascarilla</button>
                    <button class="btn btn-primary" (click)="startRound()" >Regresar y usar mascarilla</button> <!--Este era el de regresar-->
                </div>
            </div>

                <div class="row">
                    <div class="d-flex justify-content-center mt-5">
                        <input type="submit" class="form-control bg-primary text-light" (click)="onSelect()" name="join" value="Volver a MENU">
                    </div>
                </div>
            
        </div>
    </div>
</section>

<!---->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Detalles de la partida</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">Id</label>
          <div class="input-group">
            <input id="gameId" class="form-control" type="text" [(ngModel)]="playerData.gameId" name="gameId" disabled>
          </div>

          <label for="dateOfBirth">Nombre</label>
          <div class="input-group">
            <input id="name" class="form-control" type="text" [(ngModel)]="playerData.name" name="name" disabled>
          </div>

          <label for="dateOfBirth">Contraseña</label>
          <div class="input-group">
            <input id="password" class="form-control" [(ngModel)]="playerData.password" name="password" disabled>
          </div>

          <div *ngIf="game" class="game">
            
            <div><span>Id: </span>{{game.gameId}}</div>
            <div><span>Name: </span>{{game.name}}</div>
            <div><span>Dueño: </span>{{game.owner}}</div>
            <div><span>Password: </span>{{game.password}}</div>
            <div><span>Jugadores: </span >{{game.players}}</div>
            <div><span>Estatus: </span>{{game.status}}</div>


            <form [formGroup]="player" (ngSubmit)="enterPlayer(); onSelect(); modal.dismiss('Cross click'); onSubmitPlayer();" #formDir="ngForm">
                <div class="form-group" hidden>
                    <label for="gameid">Game Id</label>
                    <input type="text" formControlName="gameid" class="form-control" 
                    [(ngModel)]="enterPlayerData.gameId" placeholder="ID" name="seePut" id="seePut"
                    />
                </div>
                <span class="text-danger" *ngIf="player.hasError('required', 'gameid') && formDir.submitted">
                  Se necesita gameid.
                </span>


                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" formControlName="name" class="form-control" 
                    [(ngModel)]="enterPlayerData.temporalp" placeholder="Ingrese su nombre" name="namePut" id="namePut"
                    />
                </div>
                <span class="text-danger" *ngIf="player.hasError('required', 'name') && formDir.submitted">
                  Debe ingresar su nombre.
                </span>




                <div class="form-group">
                    <button  class="form-control bg-success text-light" >
                        Unirse a partida
                    </button>
                </div>
            </form>


            <!-- <select formControlName="rounds" [value]='game.rounds.id'>
                <option *ngFor="let n of game" value={{n.id}}>
                  {{n.id}}
                </option>
              </select> 
            
            Object.values(game.rounds)
            -->
            
            <form [formGroup]="player" (ngSubmit)="onSelect(); modal.dismiss('Cross click'); onSubmitPlayer();" #formDir="ngForm">
                <div class="form-group" hidden>
                    <label for="gameidowner">Game Id</label>
                    <input type="text" formControlName="gameid" class="form-control" 
                    [(ngModel)]="enterPlayerData.gameId" placeholder="ID" name="seePut" id="seePut"
                    />
                </div>
                <span class="text-danger" *ngIf="player.hasError('required', 'gameid') && formDir.submitted">
                  Se necesita gameid.
                </span>


                <div class="form-group">
                    <label for="nameowner">Nombre owner</label>
                    <input type="text" formControlName="name" class="form-control" 
                    [(ngModel)]="enterPlayerData.temporalp" placeholder="Ingrese su nombre" name="namePut" id="namePut"
                    />
                </div>
                <span class="text-danger" *ngIf="player.hasError('required', 'name') && formDir.submitted">
                  Debe ingresar su nombre.
                </span>




                <div class="form-group">
                    <button  class="form-control bg-success text-light" >
                        Unirse como owner
                    </button>
                </div>
            </form>

        </div>



        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="getRoundsByID()">Mostrar detalles</button>
    </div>
  </ng-template>
  


