<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">

        <span class="spinner-rotate"></span>

    </div>
</section>


<!-- MENU -->
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            <a class="navbar-brand"><img src="../assets/images/32.png"></a>

        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-nav-first">
                <li><a href="#contact" class="smoothScroll">Jugar</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a> Cuidado con el coronavirus</a></li>
            </ul>
        </div>

    </div>
</section>



<div class="text-center">
    <h1 class="display-4" style="text-shadow: 0 0 30px #fff;">contagiaDOS</h1>
    <p class="text-light">El juego en el que la estrategia puede salvarte o matarte</p>


    <!-- <button class="dropdown-header" (click)="onSelect()">Link 2</button>  -->
</div>


<!-- CONTACT -->
<section id="contact" [hidden]="IsHidden">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">

                        <form id="contact-form" role="form" action="" method="post">
                            <div class="section-title">
                                <h2>Ingresa tus datos</h2>
                                <h6>Juega con tus amigos, pero no te fies de ellos</h6>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <input type="text" [(ngModel)]="gameData.owner" class="form-control text-light text-center"
                                    placeholder="Ingrese su nombre" name="name" required="">
                                <input type="text" [(ngModel)]="gameData.password" class="form-control text-light text-center"
                                    placeholder="Ingrese una contraseña" name="password" required="">
                                <input type="text" [(ngModel)]="gameData.name" class="form-control text-light text-center"
                                    placeholder="Ingrese nombre del juego" name="server" required="">
                            </div>
                            <div class="row d-flex justify-content-center ml-4">
                                <div class="col-md-4 col-sm-12">
                                    <input (click)="createGame(gameData.name, gameData.password)" type="submit" class="form-control text-light" name="createNew"
                                        value="Crear partida">
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <input (click)="refresh()" type="submit"  class="form-control bg-primary text-light" name="createNew"
                                        value="Refrescar">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" >
                    <div class="card-body">
                        <table class="table table-dark table-hover " *ngIf="games">
                            <thead>
                                <tr>
                                    <th >Nombre del juego</th>
                                    <th ></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let s of games; let i=index;">
                                    <td>{{ s.name }}</td>
                                    <td>
                                        <a (click)="open(content, s.gameId)" class="text-white"> Unirse </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>

<!---->

<section id="game" [hidden]="IsHidden2">
    <div class="container">
       

                <br>
                <br>
                <br>

                <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <label>Psicopata</label>
                                <input type="text" [(ngModel)]="enterPlayerData.gameId" placeholder="ID" class="form-control" name="seePut" id="seePut"disabled hidden>
                                <input type="text" [(ngModel)]="playerIsPsycho.psycho" placeholder="Eres ..." class="form-control text-light" name="namePut" id="namePut" >
                                <input type="password" [(ngModel)]="enterPlayerData.password" placeholder="Contraseña" class="form-control" name="passPut" id="passPut"disabled hidden>
                                <button class="btn btn-primary mt-2" (click)="cargaInfoPsycho()" >¿Seré psicopata?</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <label>Iniciar partida</label>
                                <input type="text" [(ngModel)]="startGame.gameId" placeholder="ID" class="form-control" name="seePut" id="seePut" disabled hidden>
                                <input type="text" [(ngModel)]="startGame.name" placeholder="NombreDueño" class="form-control" name="e" id="e" disabled>
                                <input type="password" [(ngModel)]="startGame.password" placeholder="Contraseña" class="form-control" name="passPut" id="passPut" disabled hidden>
                                <input (click)="gameStart()" type="submit" class="form-control bg-success text-light mt-2" name="Start" value="Iniciar partida">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card mt-2">
                            <div class="card-body">
                                <label>Ingrese lider</label>
                                <input type="text" [(ngModel)]="groupPro.gameId" placeholder="ID" class="form-control" name="a" id="a" disabled hidden>
                                <input type="text"  placeholder="Nombre del lider" class="form-control" name="b" id="b">
                                <input type="password" [(ngModel)]="groupPro.password" placeholder="Contraseña" class="form-control" name="c" id="c" disabled hidden>
    

                                <form (submit)="submit()" [formGroup]="registerForm">
                                    <div class="form-group mt-2">
                                        <a class="btn btn-primary" (click)="agregarTelefono()">Saldrán:</a>
                                    </div>
                                    <div formArrayName="telefonos" *ngFor="let telefono of telefonos.controls; let i = index">
                                        <div [formGroupName]="i">
                                            <div class="form-group row">
                                                <div class="col-md-7">
                                                    <input type="text" placeholder="Enviar a:" [attr.id]="'telefono' + i" class="form-control" formControlName="telefono">
                                                </div>
                                                <div class="col-md-2">
                                                    <button class="btn btn-danger" (click)="removerTelefono(i)">X</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid" >Confirmar</button>
                                    </div>
                                </form>
                                <div class="mt-2">
                                    <button (click)="setGroup()" class="btn btn-primary" >Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card mt-2">
                            <div class="card-body">
                                <label>Llamar de regreso</label>
                                <input type="text" [(ngModel)]="go.gameId" class="form-control" name="1" id="1" disabled hidden>
                                <input type="text" placeholder="Regresa:" class="form-control" name="2" id="2">
                                <input type="password" [(ngModel)]="go.password" class="form-control" name="3" id="3" disabled hidden>
                                <button  class="btn btn-danger mt-2" (click)="startRound2()">Regresar y no usar mascarilla</button>
                                <button class="btn btn-primary mt-2" id="volverCon" (click)="startRound()" >Regresar y usar mascarilla</button> <!--Este era el de regresar-->
                            </div>
                        </div>
                    </div>
                </div>

              


                <br>
                <br>
                <br>



            <div class="row">
                <div class="d-flex justify-content-center">
                    <input type="submit" class="form-control bg-primary text-light" (click)="onSelect(); refresh();" name="join" value="Volver a MENU">
                </div>

               
            </div>
            <br>
            <br>
            <br>
            <label>Salidas por semana, segun cantidad de jugadores</label>
            <br>
            <br>
            <br>
            <img src="../assets/images/Salidas.png" width="500" height="300">

    </div>
</section>

<!---->
<ng-template #content let-modal>
    <div class="modal-header" id="modal-h">
        <h4 class="modal-title" id="modal-basic-title">Detalles de la partida</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="modal-b">
        <form>
            <div class="form-group">
                <label for="dateOfBirth">Id</label>
                <div class="input-group">
                    <input id="gameId" class="form-control" type="text" [(ngModel)]="playerData.gameId" name="gameId" disabled>
                </div>
                <label for="dateOfBirth">Nombre</label>
                <div class="input-group">
                    <input id="name" class="form-control" type="text" [(ngModel)]="playerData.name" name="name" disabled>
                </div>
                <label for="dateOfBirth">Contraseña</label>
                <div class="input-group">
                    <input id="password" class="form-control" [(ngModel)]="playerData.password" name="password" disabled>
                </div>
                <div *ngIf="game" class="game">
                    <div class="row mt-3 mb-3">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <div><span>Id: </span>{{game.gameId}}</div>
                                    <div><span>Nombre: </span>{{game.name}}</div>
                                    <div><span>Dueño: </span>{{game.owner}}</div>
                                    <div><span>Contraseña: </span>{{game.password}}</div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <div><span>Jugadores: </span >{{game.players}}</div>
                                        <div><span>Estado: </span>{{game.status}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="player" (ngSubmit)="enterPlayer(); onSelect(); modal.dismiss('Cross click'); onSubmitPlayer();" #formDir="ngForm">
                        <div class="form-group" hidden>
                            <label for="gameid">Game Id</label>
                            <input type="text" formControlName="gameid" class="form-control" 
                            [(ngModel)]="enterPlayerData.gameId" placeholder="ID" name="seePut" id="seePut"
                            />
                        </div>
                        <span class="text-danger" *ngIf="player.hasError('required', 'gameid') && formDir.submitted">
                            Se necesita gameid.
                        </span>

                        <div class="form-group text-light p-2">
                            <label for="name">Nombre</label>
                            <input type="text" formControlName="name" class="form-control" 
                            [(ngModel)]="enterPlayerData.temporalp" placeholder="Ingrese su nombre" name="namePut" id="namePut"
                            />
                        </div>
                        <span class="text-danger" *ngIf="player.hasError('required', 'name') && formDir.submitted">
                            Debe ingresar su nombre.
                        </span>

                        <div class="form-group">
                            <button  class="form-control bg-success text-light"  [disabled]="!player.valid">
                                Unirse a partida
                            </button>
                        </div>
                    </form>


            
                    <form [formGroup]="player" (ngSubmit)="onSelect(); modal.dismiss('Cross click'); onSubmitPlayer();" #formDir="ngForm">
                        <div class="form-group" hidden>
                            <label for="gameidowner">Game Id</label>
                            <input type="text" formControlName="gameid" class="form-control" 
                            [(ngModel)]="enterPlayerData.gameId" placeholder="ID" name="seePut" id="seePut"
                            />
                        </div>
                        <span class="text-danger" *ngIf="player.hasError('required', 'gameid') && formDir.submitted">
                            Se necesita gameid.
                        </span>
                        <div class="form-group text-light p-2">
                            <label for="nameowner">Nombre dueño</label>
                            <input type="text" formControlName="name" class="form-control" 
                            [(ngModel)]="enterPlayerData.temporalp" placeholder="Ingrese su nombre" name="namePut" id="namePut"
                            />
                        </div>
                        <span class="text-danger" *ngIf="player.hasError('required', 'name') && formDir.submitted">
                            Debe ingresar su nombre.
                        </span>
                        <div class="form-group">
                            <button  class="form-control bg-success text-light" [disabled]="!player.valid" >
                                Unirse como dueño
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" id="modal-f">
        <button type="button" class="btn btn-outline-dark" (click)="getRoundsByID()">Mostrar detalles</button>
    </div>
</ng-template>


